.game-story-text-wrapper {
    margin-bottom:      25px;
}

.game-choice-button-wrapper button {
    width:              90%;
    margin:             0px auto;
    margin-bottom:      10px;
    padding-top:        10px;
    padding-bottom:     10px;

    background-color:   #555555;
    color:              white;
    border:             2px solid #555555;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.game-choice-button-wrapper button:hover {
    color:              #555555;
    background-color:   white;
}
