* {
    -webkit-box-sizing:     border-box;
    -moz-box-sizing:        border-box;
    box-sizing:             border-box;
}

input[type=text], input[type=email], input[type=password] {
    width:                  100%;
    padding:                12px 20px;
    margin:                 8px 0;
    display:                inline-block;
    border:                 1px solid #ccc;
    border-radius:          4px;
    box-sizing:             border-box;
}

form.register-form label {
    width:                  100%;
}

form.register-form input {
    margin-top:             1rem;
}

form.register-form 



body, html {
    padding:                0px;
    margin:                 0px;
    height:                 100%;
    width:                  100%;
    font-family:            'Muli', sans-serif;
    overflow-x:             hidden;
}

.navbar a {
    color:                  black;
}

.navbar-brand {
    color:                  green !important;
}

.logout-button-wrapper {
    display:                none;
}

main {
    padding:                20px;
    width:                  100%;
    height:                 100%;
}

.main-inner-wrapper {
    /* width:                  1000px; */
    height:                 100%;
    padding-top:            80px;

    margin:                 0px auto;
}

.register-form-wrapper {
    margin-bottom:          10px;
}

.login-form-wrapper, .register-form-wrapper {
    /* width:                  500px; */
    /* width:                  100%;
    height:                 100%; */

    padding:                20px;

    border-radius:          10px;
    border-style:           solid;
    border-width:           1px;
    border-color:           grey;
}

.projects-list, .new-project-fields-wrapper {
    margin-top:             25px;
    margin-bottom:          25px;
}

.projects-list-entry:hover {
    cursor:                 pointer;
}

.projects-list-entry {
    margin:                 0px;
    padding:                20px;
}

.projects-list-entry h5 {
    margin-bottom:          0px;
}

.projects-list-entry:nth-child(odd) {
    background:             #F5F5F5;
}

.projects-list-entry:nth-child(even) {
    background:             #E0E0E0;
}